<header>
    <h1>Cronos</h1>
    <nav class="navbar">
        <ul class="nav-itens text-center">
            <li><a ui-sref="app.home" ui-sref-active="bg-red">
                Home <span class="fa fa-clock-o"></span>
            </a></li>
            <li><a ui-sref="app.projects" ui-sref-active="bg-red">
                Projects <span class="fa fa-folder-open"></span>
            </a></li>
            <li><a ui-sref="app.settings" ui-sref-active="bg-red">
                Settings <span class="fa fa-gear"></span>
            </a></li>
        </ul>
    </nav>
</header>

<div ui-view class="padding-vertical"></div>
