<div class="text-center center-block padding-vertical">
    <h2>Welcome to Cronos</h2>
    <p>Cronos tracks the time you (and your team) expend on projects and tasks</p>
    <form ng-submit="login(user)">
        <fieldset class="input-group text-center">
            <input style="display: table; margin: 0 auto;" type="text" placeholder="Login" ng-model="user.login" required autofocus/>
            <input style="display: table; margin: 0 auto;" type="password" placeholder="Password" ng-model="user.password" required/>
        </fieldset>
        <br/>
        <button class="button-positive button-large"">Login</button>
    </form>
</div>
